extends layout
block content
    .searchForm.flex-center-column.horizontal-center
        form(action="/search/nearby" method="POST")
            .searchFields
                input(type="text" name="location" placeholder="Where are you?").form-control
                button.btn.btn-primary.form-control Submit