html
    head
        include includes/head
        block head
    body
        .navbar.navbar-inverse.bg-inverse.navbar-toggleable-md
            button(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler.navbar-toggler-right
                span.navbar-toggler-icon
            if authenticated
                a.navbar-brand(href="/changeLocation") Nightlife coordination
            else
                a.navbar-brand(href="/") Nightlife coordination
            .collapse.navbar-collapse.justify-content-end#navbarNavAltMarkup
                .navbar-nav
                    if authenticated
                        a(href="/changeLocation").nav-item.nav-link Change Location
                    if authenticated
                        a(href="/auth/logout").nav-item.nav-link Logout
                    else
                        a(href="/auth/login").nav-item.nav-link Login
        block content
        block footer
        block scripts