html
    head
        include includes/head
        block head
    body
        .navbar.navbar-default
            .container-fluid
                .navbar-header
                    if authenticated
                        a.navbar-brand(href="/changeLocation") Nightlife coordination
                    else
                        a.navbar-brand(href="/") Nightlife coordination
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        if authenticated
                            li: a(href="/changeLocation") Change Location
                    ul.nav.navbar-nav.navbar-right
                        if authenticated
                            li: a(href="/auth/logout") Logout
                        else
                            li: a(href="/auth/login") Login
        block content
        block footer
        block scripts